.next_btn {
  min-height: 60px;
  min-width: 100px;
  text-align: center;
  color: white;
  font-weight: 600;
  font-size: 1.7em;
  margin: 0px;
  position: absolute;
  // padding: 3px 0px 3px 0;
  padding: 10px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: 20;
  font-family: 'Tiempos Headline SemiBold', sans-serif;
  color: #932F67;
}
#next_image{
    width: 13px;
}
.orange-btn{
    background-color: #FF8C00 !important;
}